<header>
    <h1>{{title}}</h1>
    <nav>
        <a href="/">Tienda</a>
    </nav>
</header>
<main>
    <section id="cart">
        {{#if cart.products}}
        {{#each cart.products}}
        <article class="product">
            {{#if product.thumbnails}}
            {{#each product.thumbnails}}
            <img src={{this}}>
            {{/each}}
            {{else}}
            <img src='/products/img/noimage.png' alt='No hay imagen'>
            {{/if}}
            <P>{{product.title}}</P>
            <P>${{product.price}}</P>
            <label for="cantidad">Cantidad a comprar:
                <input type="number" id="cantidad" value="{{quantity}}" min="1"
                    onchange="actualizarCantidad(this.value, '{{../cart._id}}', '{{product._id}}')">
            </label>
            <button data-productId="{{product._id}}" data-cartId="{{../cart._id}}"
                class="delete-product-cart">Eliminar</button>
        </article>
        {{/each}}
        <section>
            <button data-cartId="{{cart._id}}" id="vaciar-carrito">Vaciar Carrito</button>
        </section>
        {{else}}
        <h2>El carrito está vacío</h2>
        {{/if}}
    </section>
</main>
{{> footer}}

<script>
    const button = document.querySelectorAll('.delete-product-cart')
    button.forEach(btn => {
        btn.onclick = async (e) => {
            const productId = btn.getAttribute('data-productId')
            const cartId = btn.getAttribute('data-cartId')

            await fetch('/carts', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ cid: cartId, pid: productId })
            })

            btn.parentElement.remove()
        }
    })

    const buttonDeletProducts = document.querySelector('#vaciar-carrito')
    buttonDeletProducts.onclick = async () => {
        const cartId = buttonDeletProducts.getAttribute('data-cartId')
        console.log('eliminar', cartId)
        await fetch(`/carts/${cartId}`, {
            method: 'DELETE'
        })

        buttonDeletProducts.disabled = true

        const productosToDelete = document.querySelectorAll('.product') 
        productosToDelete.forEach(p => {
            p.remove()
        })
    }
</script>