{{> headerhome}}
{{log this.ticket.products}}
<div class="user-profile">
  
<h3>Ticket de compra {{ticket.numTicket}}</h3>
<p><strong>Número de ticket:</strong> {{numTicket}}</p>

<p><strong>Cliente:</strong> {{ticket.user.first_name}} {{ticket.user.last_name}}</p>
<p><strong>Fecha:</strong> {{ticket.datetime}}</p>
<h2>Productos</h2>

<ul>
  {{#each ticket.products}}
    <li>
      <p>{{this.product.title}}</p>
      <p>${{this.product.price}}</p>
      <p>Cantidad: ${{this.quantity}}</p>
    </li>
  {{/each}}
</ul>

<p><strong>Total:</strong> {{ticket.totalPrice}}</p>


</div>

<script>
  
</script>