{{> headerhome}}
{{log this}}
<div class="form-container">
  <form id="registerForm">

    <div class="form-group">
      <label for="first_name">Nombre:</label>
      <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" required>
    </div>

    <div class="form-group">
      <label for="last_name">Apellido:</label>
      <input type="text" id="last_name" name="last_name" value="{{user.last_name}}" required>
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" value="{{user.email}}" required>
    </div>

    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="number" id="age" name="age" value="{{user.age}}" required>
    </div>

    <button type="submit">Actualizar</button>
  </form>


  {{#if err}}
  <p class="error">{{err}}</p>
  {{/if}}
</div>

<script>

  document.getElementById('registerForm').addEventListener('submit', async (event) => {
    event.preventDefault()

    const first_name = document.getElementById("first_name").value
    const last_name = document.getElementById("last_name").value
    const email = document.getElementById("email").value
    const age = document.getElementById("age").value

    try {
      const response = await fetch('http://localhost:8080/api/users', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ first_name, last_name, email, age }),
        credentials: 'include'
      })

      if (response.ok) {

        const data = await response.json()

        window.location.href = '/users/current'

      } else {
        const errorData = await response.json()
        console.log(errorData);

        window.location.href = `/users/current/?err=${errorData.error}`


      }

    } catch (error) {
      console.error('Error de red o del servidor:', error)

    }
  })
</script>