<article class="product">
    {{#if thumbnails}}
    {{#each thumbnails}}
    <img src={{this}}>
    {{/each}}
    {{else}}
    <img src='/products/img/noimage.png' alt='No hay imagen'>
    {{/if}}
    {{#if offer}}
    <p class="offer">Oferta</p>
    {{/if}}
    <section>
        <h3>{{title}}</h3>
        <a href="/product/{{id}}">Detalles</a>
        <p class="price">${{price}}</p>
        <button data-cartid="{{cartId}}" data-productid="{{id}}" class="add-product">Agregar al carrito</button>
    </section>
</article>

</html>