{{> nav this cartId=cartId}}
<main id="products">
    {{#if this.products}}
    <section class="filtro">
        <form method="GET" action="/">
            <label for="category">Categoría:
                <select name="category" id="category">
                    <option value="">Todas</option>
                    {{#each categorias}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </label>

            <label for="price">Ordenar por precio:
                <select name="order_price" id="price">
                    <option value="asc">Menor a mayor</option>
                    <option value="desc">Mayor a menor</option>
                </select>
            </label>

            <button type="submit">Filtrar</button>
        </form>
    </section>

    <section class="products-list">
        {{#each this.products}}
        {{> product this cartId=../cartId}}
        {{/each}}
    </section>

    <section class="pagination">
        {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}&limit=10">Anterior</a>
        {{/if}}
        <span>Página {{currentPage}} de {{totalPages}}</span>
        {{#if hasNextPage}}
        <a href="/?page={{nextPage}}&limit=10">Siguiente</a>
        {{/if}}
    </section>
    {{else}}

    <section>
        <h2>No hay productos agregados</h2>
    </section>
    {{/if}}
</main>