<main id="products">
    <h2>Productos</h2>
    <section class="products-list">
        {{#if products}}
        {{#each products}}
        {{#if oferta}}
        <article class="oferta">
            {{#if thumbnails.[0]}}
            <img src={{thumbnails.[0]}} alt={{thumbnails.[0]}}>
            {{else}}
            <img src='/products/img/noimage.jpg' alt='No hay imagen'>
            {{/if}}
            <p class="oferta-parrafo">Oferta!!!</p>
            <h3>{{title}}</h3>
            <a href='/product/{{id}}'>Detalles</a>
            <p class="price">${{price}}</p>
        </article>
        {{else}}
        <article>
            {{#if thumbnails.[0]}}
            <img src={{thumbnails.[0]}} alt={{thumbnails.[0]}}>
            {{else}}
            <img src='/products/img/noimage.jpg' alt='No hay imagen'>
            {{/if}} <h3>{{title}}</h3>
            <a href='/product/{{id}}'>Detalles</a>
            <p class="price">${{price}}</p>
        </article>
        {{/if}}
        {{/each}}
        {{else}}
        <article>
            <h2>No hay productos disponibles</h2>
        </article>
        {{/if}}
    </section>
</main>